@charset "utf-8";
/*---------------------------------

---------------------------------*/
body{
	background-color:#222129;
	color:#fff;
	width:960px;
	margin-right: auto;
	margin-left : auto;
}

header{
	border-bottom:#EFEFEF;
}
footer{
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin: 10px;
}
/*---------------------------------
コンテンツ
---------------------------------*/

article{
	margin: 10px 5px;

}
section ul li{
	margin-left: 2.5em;
}
h1{
	color:#ffa86a;
	border-bottom-style: dotted;
}
h1.title{
	background-color:#ffa86a;
	color:#000;
	border-bottom-style: none;
}
/*---------------------------------
公開更新日
---------------------------------*/
div.post-date{
	color:#ffa86a;
	text-align: right;
}
/*---------------------------------
トップナビ
---------------------------------*/
nav ul{
	margin: 0;
	padding: 0;
}

nav a{
	text-align: center;
	color:#fff;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin: 3px 10px;
}
nav ul li a:hover{
	color:#ffa86a;
}