body{
	background-color:#222129;
	color:#fff;
}

header{
	border-bottom:#EFEFEF;
}
footer{
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}


h1{
	color:#ffa86a;
	border-bottom-style: dotted;
}
h1.title{
	background-color:#ffa86a;
	color:#000;
	border-bottom-style: none;
}

span.post-date{
	color:#ffa86a;
	opacity:0.7;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav a{
	text-align: center;
	color:#fff;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin: 0px 10px;
}
nav ul li a:hover{
	color:#ffa86a;
}